In [1]:
import fasttext
import numpy as np
import pandas as pd
from nltk.tokenize import word_tokenize
import fasttext.util
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, confusion_matrix,classification_report

In [2]:
ft = fasttext.load_model('cc.bn.300.bin')
#fasttext.util.reduce_model(ft, size)
ft.get_dimension()

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

300

In [3]:
size = ft.get_dimension()
#fasttext.util.reduce_model(ft, size)

In [4]:
link = 'https://raw.githubusercontent.com/python-for-ml/sent-analysis/master/finaldataset.csv'
data = pd.read_csv(link)
data=data.drop(['title_x','title_y','title','value'],axis=1)
data.head()

                                                data               tag
0            লিখার সময় পারলে সত্য লিখার অভ্যাস শিখুন   কিছুটা নেতিবাচক
1  এটা কেন হচ্ছে সংশ্লিষ্ট সকলের ডিপ্রেশনের ফলে ন...   কিছুটা নেতিবাচক
2  আমাদের দেশের স্বাভাবিক অর্থনৈতিক গতিপ্রবাহকে ব...  নিশ্চিত নেতিবাচক
3                                     চুরি নয় লুটপাট  নিশ্চিত নেতিবাচক
4  ইসলামী ব্যাংকের বর্তমান অবস্থা দেখে মনে হয় শাস...          নিরপেক্ষ

In [5]:
le = LabelEncoder()
data['tag'] = le.fit_transform(data['tag'])
data.head()

                                                data  tag
0            লিখার সময় পারলে সত্য লিখার অভ্যাস শিখুন    1
1  এটা কেন হচ্ছে সংশ্লিষ্ট সকলের ডিপ্রেশনের ফলে ন...    1
2  আমাদের দেশের স্বাভাবিক অর্থনৈতিক গতিপ্রবাহকে ব...    4
3                                     চুরি নয় লুটপাট    4
4  ইসলামী ব্যাংকের বর্তমান অবস্থা দেখে মনে হয় শাস...    2

In [6]:
data['tag']=data['tag'].replace(3, 0)
data['tag']=data['tag'].replace(4, 1)
data = data[data['tag'] != 2]

In [7]:
d = data['data'].tolist()

In [8]:
corpus = []
for i in range(len(d)):
    corpus.append(word_tokenize(d[i]))

In [9]:
X = np.zeros((len(corpus),size)) #Initializing the X matrix with zeros
for i in range(len(corpus)):
    emb = np.zeros((1,size))
    for w in corpus[i]:
        emb = emb +  ft.get_word_vector(w)
    X[i] = emb

In [10]:
X.shape

(10851, 300)

In [11]:
label = data['tag'].tolist()

In [12]:
X

array([[-0.37828979, -0.04378794,  0.23310615, ..., -0.06681073,
        -0.12661806,  0.12669656],
       [-0.25136444,  0.22654375,  0.46401597, ...,  0.1926942 ,
         0.05018288,  0.07072022],
       [ 0.09825953,  0.08709   ,  0.57615013, ...,  0.22304522,
        -0.05002635,  0.14549997],
       ...,
       [ 0.27185835,  0.2157141 ,  0.0677567 , ..., -0.18926774,
        -0.19962261,  0.0276139 ],
       [ 0.0516738 ,  0.26223405,  2.3724848 , ...,  1.73536816,
        -0.26992876,  0.37989296],
       [-0.25754698,  0.20448918,  1.23240456, ...,  0.59066546,
        -0.01719962, -0.21660657]])

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,label, test_size = 0.20, random_state = 42)

In [14]:
s = SVC()
s.fit(X_train,y_train)

SVC()

In [15]:
y=s.predict(X_test)

In [16]:
print(classification_report(y_test, y))

              precision    recall  f1-score   support

           0       0.70      0.34      0.46       719
           1       0.74      0.93      0.82      1452

    accuracy                           0.73      2171
   macro avg       0.72      0.63      0.64      2171
weighted avg       0.72      0.73      0.70      2171

In [17]:
confusion_matrix(y_test,y)

array([[ 243,  476],
       [ 106, 1346]])

In [19]:
accuracy_score(y_test,y)

0.7319207738369415

In [24]:
columns = ["data", "tag"]

In [34]:
D = pd.DataFrame(X,label)

In [35]:
D.head()

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
1,-0.378290,-0.043788,0.233106,-0.090659,0.118915,-0.049353,-0.049806,0.254180,-0.008129,0.176508,...,-0.097166,0.321108,-0.340186,0.149570,-0.040441,0.038749,0.088336,-0.066811,-0.126618,0.126697
1,-0.251364,0.226544,0.464016,0.011879,0.320993,-0.033505,0.360219,-0.167715,0.065820,0.018839,...,0.290203,0.129537,-0.087325,0.160740,0.133203,0.088300,0.291542,0.192694,0.050183,0.070720
1,0.098260,0.087090,0.576150,0.088225,0.457308,-0.024489,0.473699,-0.033325,0.278471,0.029632,...,0.198523,0.222916,-0.366944,0.070250,-0.203657,0.219363,0.195963,0.223045,-0.050026,0.145500
1,0.184548,-0.150249,0.020873,-0.054877,0.119825,0.037470,0.018902,-0.270851,0.137177,-0.128308,...,-0.048595,0.008552,-0.198847,0.162932,-0.119380,0.129476,0.111718,0.054402,-0.227317,0.080196
1,-0.105030,-0.194530,0.143979,0.003676,0.213265,0.055439,0.263004,-0.193778,0.170977,-0.284729,...,0.108776,0.083513,-0.404863,0.026492,-0.173545,0.057736,0.382859,0.204093,-0.207998,-0.164038

In [37]:
np.savetxt("X.csv", X, delimiter=",")
np.savetxt("label.csv", label, delimiter=",")

In [38]:
D['label']=label

In [40]:
D.head()

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,label
1,-0.378290,-0.043788,0.233106,-0.090659,0.118915,-0.049353,-0.049806,0.254180,-0.008129,0.176508,...,0.321108,-0.340186,0.149570,-0.040441,0.038749,0.088336,-0.066811,-0.126618,0.126697,1
1,-0.251364,0.226544,0.464016,0.011879,0.320993,-0.033505,0.360219,-0.167715,0.065820,0.018839,...,0.129537,-0.087325,0.160740,0.133203,0.088300,0.291542,0.192694,0.050183,0.070720,1
1,0.098260,0.087090,0.576150,0.088225,0.457308,-0.024489,0.473699,-0.033325,0.278471,0.029632,...,0.222916,-0.366944,0.070250,-0.203657,0.219363,0.195963,0.223045,-0.050026,0.145500,1
1,0.184548,-0.150249,0.020873,-0.054877,0.119825,0.037470,0.018902,-0.270851,0.137177,-0.128308,...,0.008552,-0.198847,0.162932,-0.119380,0.129476,0.111718,0.054402,-0.227317,0.080196,1
1,-0.105030,-0.194530,0.143979,0.003676,0.213265,0.055439,0.263004,-0.193778,0.170977,-0.284729,...,0.083513,-0.404863,0.026492,-0.173545,0.057736,0.382859,0.204093,-0.207998,-0.164038,1

In [43]:
D.to_csv('Data.csv')